body {
  background-color: darkblue;
  color: white;
}


h1 {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
}


table {
  margin: auto;
  border-collapse: collapse;
  width: 90%;
}


table caption {
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

.column-headings th {
  background-color: navy;
  color: lightyellow;
  padding: 8px;
}


td, th {
  border: 4px solid rgb(244, 238, 123); 
  padding: 8px;
  list-style-position: inside;
}


th {
  font-size: 20px;
  font-weight: bold;
}

code {
  font-family: monospace;
  background-color: lightgray;
  color: black;
  padding: 2px 4px;
  border-radius: 3px;
}